Repository nextcloud/forms, pull requests merged in 2023-09, with the labels that each got.

#1705 fix: Enhance extraSettings handling and fix XML output
  docs/DataStructure.md
  lib/Db/Question.php
  tests/Unit/Service/FormsServiceTest.php
Labels: bug, enhancement, php, 3. to review

#1706 chore: replace deprecated qb->execute() with executeStatement()
  lib/Db/AnswerMapper.php
  lib/Db/QuestionMapper.php
  lib/Db/ShareMapper.php
  tests/Integration/Api/ApiV2Test.php
Labels: 3. to review, technical debt

#1707 Optimization of FormMapper::findById calls
  lib/Controller/ApiController.php
  lib/Controller/PageController.php
  lib/Service/FormsService.php
  tests/Unit/Controller/ApiControllerTest.php
  tests/Unit/Service/FormsServiceTest.php
Labels: enhancement, php, 3. to review, performances

#1727 Move to min-version 26 and drop PHP 7.4
  .github/workflows/lint.yml
  .github/workflows/phpunit.yml
  appinfo/info.xml
  composer.json
Labels: 2. developing, technical debt
