Repository nextcloud/forms, pull requests merged in 2024-09, with the labels that each got.

#2265 feat: Allow listening to form submissions via events and webhooks
  lib/Controller/ApiController.php
  lib/Events/AbstractFormEvent.php
  lib/Events/FormSubmittedEvent.php
  lib/Service/FormsService.php
  tests/Unit/Controller/ApiControllerTest.php
  tests/Unit/Service/FormsServiceTest.php
Labels: enhancement, integration, 3. to review

#2315 chore(deps): update composer & npm
  composer.lock
  package-lock.json
  tests/Integration/IntegrationBase.php
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/psalm/composer.lock
Labels: dependencies, 3. to review, technical debt

#2317 chore: remove unused LoggerInterface dependencies
  lib/Activity/ActivityManager.php
  lib/Analytics/AnalyticsDatasource.php
  lib/Controller/PageController.php
  lib/Db/FormMapper.php
  lib/Listener/UserDeletedListener.php
  lib/Service/ConfigService.php
  lib/Service/FormsService.php
  tests/Unit/Activity/ActivityManagerTest.php
  tests/Unit/Analytics/AnalyticsDatasourceTest.php
  tests/Unit/Controller/PageControllerTest.php
  tests/Unit/Service/ConfigServiceTest.php
  tests/Unit/Service/FormsServiceTest.php
Labels: php, 3. to review, technical debt

#2312 Do not submit fields that not exists anymore
  src/views/Submit.vue
Labels: bug, javascript, 3. to review, feature: 📝 submitting responses

#2323 fix: update values in QuestionMultiple component correctly when `isUnique === true`
  src/components/Questions/QuestionMultiple.vue
Labels: bug, javascript, 3. to review

#2318 chore: add API versions to Capabilities
  lib/Capabilities.php
Labels: php, 3. to review, technical debt

#2337 Rename storage to rootFolder
  lib/BackgroundJob/CleanupUploadedFilesJob.php
  lib/Controller/ApiController.php
  lib/Controller/ShareApiController.php
  lib/Service/FormsService.php
  lib/Service/SubmissionService.php
Labels: php, 3. to review, technical debt

#2335 chore: Refactor checking if user is allowed to edit the form
  lib/Controller/ApiController.php
Labels: php, 3. to review, technical debt

#2314 chore: Refactor lastUpdated
  lib/Controller/ApiController.php
  lib/Controller/ShareApiController.php
  lib/Db/FormMapper.php
  lib/Db/OptionMapper.php
  lib/Db/QuestionMapper.php
  lib/Db/ShareMapper.php
  lib/FormsMigrator.php
  lib/Service/FormsService.php
  tests/Unit/Controller/ApiControllerTest.php
  tests/Unit/Controller/ShareApiControllerTest.php
Labels: php, 3. to review, technical debt
